<%= form_for(@house, :html => { :multipart => true }) do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% @house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_area :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :rental %><br>
    <%= f.text_field :rental, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.file_field :image, class: "btn btn-default" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-info" %>
  </div>
<% end %>
