<div class="center">
  <%= render 'error' %>  
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <%= image_tag @house.image.url %>
      </div>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-5">
    <div class="thumbnail">
     		<h3>Edit your place</h3><br>

      		<%= render 'form' %>

          <%= link_to houses_path, class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-chevron-left"></i>
          <% end %>

          <%= link_to @house, class: "btn btn-default" do %>
             <i class="glyphicon glyphicon-zoom-in"></i>
          <% end %>
    </div>
    </div>
  </div>  
</div>