<div class="center">
  <div class="row">
    <% @houses.each do |house| %>
      <div class="col-md-3">
        <div class="thumbnail">

          <div class="caption">
            <h4><%= house.name %></h4>
            <p><%= number_to_currency(house.rental) %></p>
            <%= link_to edit_house_path(house), class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>

            <%= link_to 'Delete', house, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure you want to delete the house?'} %>
          
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>

<%= link_to new_house_path, class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-plus"></i>
            <% end %>
