<div class="center">
  <div class="row">
    <% @houses.each do |house| %>
      <div class="col-md-3">
        <div class="thumbnail">
         <%= link_to (image_tag house.image.url), house %>
          <div class="caption">
            <h4><%= house.name %></h4>
            <p><%= number_to_currency(house.rental) %></p>
            <p><%= house.user.name %></p>
            <% if (user_signed_in?) && (current_user == house.user) %>
              
              <%= link_to edit_house_path(house), class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-pencil"></i>
              <% end %>
              <%= link_to house, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure you want to delete the house?'} do %>
              <i class="glyphicon glyphicon-trash"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>

<% if (user_signed_in?) %>
  <%= link_to new_house_path, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-plus"></i>
  <% end %>
<% end %> 