<div class="row">
  <div class="col-md-6">
  	<div class="thumbnail">
  		<%= image_tag @house.image.url %>
  	</div>
  </div>
  <div class="col-md-6">
    
    <h4><%= @house.name %></h4>
    <p><%= number_to_currency(@house.rental) %></p>
    <p><%= @house.address%></p>
    <%= link_to "Be a Roomie", new_house_renting_path(@house), class: "btn btn-primary" %>

    <% if current_user == @house.user %>
        <%= link_to 'Edit', edit_house_path(@house), class: "btn btn-link" %> |
    <% end %>

    <br><br><%= link_to houses_path, class: "btn btn-default" do %>
      <i class="glyphicon glyphicon-chevron-left"></i>
    <% end %>

  </div>
</div>

