<div class="center">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	<%= devise_error_messages! %>
	<div class="row">
	    <div class="col-md-4"></div>
	    <div class="col-md-4">
	       <div class="thumbnail">
	          <div class="thumbnail">
				<h3>Forgot your password?</h3><Br>

				  <div class="form-group">
				    <%= f.label :email %><br />
				    <%= f.email_field :email, autofocus: true, class: "form-control" %>
				  </div>

				  <div class="actions">
				    <%= f.submit "Send instructions", class: "btn btn-primary" %>
				  </div>
				<% end %>

				<br><%= render "devise/shared/links" %>
	      </div>   
      </div>
    </div>  
  </div>
</div>