<%= form_for([@house, @renting]) do |f| %>

  <div class="form-group">
    <%= f.label :arrival%>
    <%= f.text_field :arrival, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :departure %>
    <%= f.text_field :departure, class: "form-control" %>
  </div>
    <div>
    <%= f.check_box :insurance, {checked: true} %> 
    <%= f.label 'Check up Protection' %> (24h to check house installations with money back option and reallocation)
  </div><br>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div><br>
<% end %>
