<div class="center">
  <% if @renting.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@renting.errors.count, "error") %> prohibited this renting from being saved:</h4>

      <ul>
      <% @renting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<h1>Editing renting</h1>

<%= render 'form' %>

<%= link_to 'Show', @renting %> |
<%= link_to 'Back', rentings_path %>

</div>
