<p id="notice"><%= notice %></p>

<p>
  <strong>arrival:</strong>
  <%= @renting.arrival %>
</p>

<p>
  <strong>departure:</strong>
  <%= @renting.departure %>
</p>

<p>
  <strong>insurance:</strong>
  <%= @renting.insurance %>
</p>

<%= link_to 'Edit', edit_renting_path(@renting) %> |
<%= link_to 'Back', rentings_path %>
