<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Roomie</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
          <li><%= link_to "My Places", host_path %></li>
        <% else %>
          <li><%= link_to "Login", user_session_path%></li>
        <% end %> 
        <li><%= link_to "About", pages_about_path%></li>
        <li><%= link_to "Terms", pages_terms_path%></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>